/** Site specific ids and classes  */

#main {
	background: #e6e6e6;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	width: 960px;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 60px;
	/* 	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
}

#application_create_project {
	margin-left: 89%;
}

.cta{
	font-size: 20px;
	background: #9ac67f;
	border-radius: 2px;
	font-weight: bold;
	padding: 15px;
	white-space: nowrap;
}

.error-title, .error-login, .error-signup{
	color: #BF1515;
}

.error-title{
	background: none;
	margin: 20px;
}

.header-home {
	float: left;
	margin-left: 20px;
}

.header-icon {
	background: url('/img/icon.png');
	float: left;
	height: 40px;
	width: 132px;
}

.header-login {
	float: right;
	margin-right: 20px;
}

.button-large {
	font-size: 1em;
	padding: 10px 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#header_account {
	background: #e6e6e6;
	width: 305px;
	height: 275px;
	position: absolute;
	top: 45px;
	right: 5px;
	display: none;
	border: 1px solid #999;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
	text-align: left;
	padding: 40px;
}

#header_account input {
	float: right;
}

#header_account span {
	width: 160px;
	float: right;
}

#header_account label {
	font-weight: bold;
}

#header_account_edit {
	display: none;
}



/** Home */

.home-hero {
	background: #111111 url('/img/tweed_@2X.png');
	text-align: center;
}

.home-hero-title {
	color: #88A675;
	font-size: 1.2em;
	margin-top: 10px;
}

.home-hero-preview {
	background: url('/img/home-preview.png') 50% no-repeat;
	height: 192px;
	margin-top: 50px;
}

.home-sign-up {
	position: relative;
	top: -25px;
}

.home-signup-form .form {
	margin: -65px 20px 0 400px;
	background: #ffffff;
	padding: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

.home-signup-form .form label {
	width: 150px;
	display: inline-block;
}

.home-signup-form .form input {
	width: 310px;
	display: inline-block;
	padding-left: 5px;
}

.home-signup-form p {
	font-size: 1.3em;
	width: 360px;
	text-align: center;
	background: #A9CE91;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}

.home-signup-form div {
	margin: 20px 20px;
}

.home-feature {
	float: left;
	width: 300px;
	padding: 10px;
	text-align: center;
}

/** Project */

/* Project Create AND Edit */
.project-create-container, .project-edit-container, .project-detail-container {
	background: #f0f0f0;
	box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
	text-align: left;
	margin: 0 auto;
	width: 95%;
	line-height: 1.5em;
}

.project-create-heading, .project-edit-heading, .project-detail-heading {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -o-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #d4d4d4 100%);
	line-height: 50px;
	width: 100%;
}

.project-create-title, .project-edit-title, .project-detail-title {
	font-weight: bold;
	margin-left: 20px;
}

.project-create-name, .project-create-description, .project-edit-name, .project-edit-description, .project-detail-name, .project-detail-description {
	display: block;
	width: 630px;
}

.project-create-description, .project-edit-description, .project-detail-description {
	height: 115px;
}

.project-create-date, .project-edit-date, .project-detail-date {
	width: 196px;
}
/* End Project Create AND Edit */

.project-item {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -o-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #d4d4d4 100%);
	height: 50px;
	line-height: 50px;
	text-align: left;
	width: 95%;
	margin: 10px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-name {
	margin-left: 20px;
}

/** Task */
/* Task Create AND Edit */
.task-edit-container, .task-detail-container, .task-create-container {
	background: #f0f0f0;
	text-align: left;
	position: relative;
	line-height: 1.5em;
}

.task-create-container {
	width: 95%;
	margin: 0 auto;
	box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
}

.task-container {
	text-align: left;
}

.task-edit-heading, .task-create-heading {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -o-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #d4d4d4 100%);
	line-height: 50px;
	width: 100%;
}

.task-edit-title, {
font-weight: bold;
margin-left: 20px;
}

.task-edit-name, .task-edit-description, .task-detail-name, .task-detail-description, .task-create-name, .task-create-description {
	width: 600px;
}

.task-edit-description, .task-detail-description, .task-create-description {
	display: block;
	height: 115px;
}

.task-edit-date, .task-create-date {
	width: 196px;
}
/* End Task Create AND Edit */

.task-list-heading {
	width: 95%;
	margin: 0 auto;
}

.task-list-heading button {
	float: right;
}

.task-item, task {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -o-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #d4d4d4 100%);
	line-height: 50px;
	text-align: left;
	width: 95%;
	margin: 10px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.task-name {
	margin-left: 20px;
}

/** Misc */

.list-header {
	width: 95%;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 15px;
}

.list-heading {
	font-size: 1.25em;
}

.project-edit-save, .task-edit-save {
	width: 200px;
}

.status {
	height: 5px;
	width: 100%;
}

.status.active {
	background: #9ac67f;
}

.status.urgent {
	background: #EE6545;
}

.status.delayed {
	background: #3C731A;
}

.status.done {
	background: #444444;
}

.button-status {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 40%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top, #e6e6e6 40%, #d4d4d4 100%);
	background: -o-linear-gradient(top, #e6e6e6 40%, #d4d4d4 100%);
	background: -ms-linear-gradient(top, #e6e6e6 40%, #d4d4d4 100%);
	background: linear-gradient(to bottom, #e6e6e6 40%, #d4d4d4 100%);
	border: 1px solid #f0f0f0;
	display: block;
	padding: 0;
	position: relative;
	height: 30px;
	width: 200px;
}

.button-status .status {
	position: absolute;
	top: 0;
	left: 0;
}

.icon-edit {
	background-image: url('/img/edit-icon.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 50px;
	width: 28px;
	margin-right: 10px;
}

.icon-delete {
	background-image: url('/img/delete-icon.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 50px;
	width: 28px;
	margin-right: 10px;
}
