/** Site specific ids and classes  */

#main {
	background: #e6e6e6;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	width: 960px;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 60px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.header-home {
	float: left;
	margin-left: 20px;
}

.header-icon {
	background: url('/img/icon.png');
	float: left;
	height: 40px;
	width: 40px;
}

.header-login {
	float: right;
	margin-right: 20px;
}

.button-large {
	font-size: 1em;
	padding: 20px;
	padding-left: 100px;
	padding-right: 100px;
}

/** Project */

.project-create-container {
	background: #f0f0f0;
	box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
	text-align: left;
	width: 100%;
}

.project-create-heading {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -o-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #d4d4d4 100%);
	line-height: 50px;
	width: 100%;
}

.project-create-title {
	font-weight: bold;
	margin-left: 20px;
}

.project-create-name, .project-create-description {
	width: 650px;
}

.project-create-description {
	height: 115px;
}

.project-create-date {
	width: 196px;
}

.project-item {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -o-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #d4d4d4 100%);
	height: 50px;
	line-height: 50px;
	text-align: left;
	width: 95%;
	margin: 10px auto;
}

.project-name {
	margin-left: 20px;
}

/** Task */

.task-create-container {
	background: #f0f0f0;
	box-shadow: 0 0.2em 0.35em rgba(0, 0, 0, 0.4);
	text-align: left;
	width: 95%;
}

.task-create-heading {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -o-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #d4d4d4 100%);
	line-height: 50px;
	width: 100%;
}

.task-create-title {
	font-weight: bold;
	margin-left: 20px;
}

.task-create-name, .task-create-description {
	width: 600px;
}

.task-create-description {
	height: 115px;
}

.task-create-date {
	width: 196px;
}

.task-item {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -o-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #d4d4d4 100%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #d4d4d4 100%);
	height: 50px;
	line-height: 50px;
	text-align: left;
	width: 95%;
	margin: 10px auto;
}

.task-name {
	margin-left: 20px;
}

/** Misc */

.list-header {
	width: 95%;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 15px;
}

.list-heading {
	font-size: 1.25em;
}

.create-save {
	width: 200px;
}

.status {
	height: 5px;
	width: 100%;
}

.status.active {
	background: #87a67a;
}

.status.urgent {
	background: #EE6545;
}

.status.delay {
	background: #5E7351;
}

.status.done {
	background: #444444;
}

.button-status {
	display: block;
	padding: 0;
	position: relative;
	height: 30px;
	width: 200px;
}

.button-status .status {
	position: absolute;
	top: 0;
	left: 0;
}

.icon-edit {
	background-image: url('/img/edit-icon.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 50px;
	width: 28px;
	margin-right: 10px;
}

.icon-delete {
	background-image: url('/img/delete-icon.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 50px;
	width: 28px;
	margin-right: 10px;
}
