html, body {
	background: #555555;
	margin: 0;
	padding: 0;
	text-align: center;
}

header {
	background: #a8ce98;
	height: 50px;
	width: 100%;
}

input[type="email"], input[type="number"], input[type="password"], input[type="text"], input[type="search"], textarea {

}

button, input[type=button], .button {
	border: none;
	border-radius: 2px;
	color: #444;
	cursor: pointer;
	white-space: nowrap;
}

input[type=submit], .button-submit {
	background: #c0eba5;
	background: -moz-linear-gradient(top, #c0eba5 18%, #88a675 100%);
	background: -ms-linear-gradient(top, #c0eba5 18%, #88a675 100%);
	background: -o-linear-gradient(top, #c0eba5 18%, #88a675 100%);
	background: -webkit-linear-gradient(top, #c0eba5 18%, #88a675 100%);
	background: linear-gradient(top, #c0eba5 18%, #88a675 100%);
	border: none;
	border-radius: 2px;
	color: #000000;
	cursor: pointer;
	white-space: nowrap;
}

#main {
	background: #e6e6e6;
	width: 960px;
	text-align: left;
	margin: 0 auto;
}
