<div>
	
	<script type="text/template" id="application-header">
		<div class="header-home">
			<div class="header-icon"></div>
			<span>Orderly</span>
		</div>
		<!-- THIS DIV NEEDS TO BE POPULATED WITH THE USERNAME LINK-->
		<div class="header-login">
			<input type="text" id="header_name" />
		</div>
	</script><!-- header template close -->
	
	<script type="text/template" id="application-main">
		<div id="main">
			<br />
			<div class="project-create-container">
				<div class="project-create-heading">
					<div class="status active"></div>
					<span class="project-create-title">Project Name</span>
					<span class="icon-delete"></span>
					<span class="icon-edit"></span>
				</div>
				<div class="padding">
					<div class="left">
						<span>Task Name</span>
						<br />
						<input type="text" class="project-create-name" />
						<div class="content-spacer"></div>
						<span>Project Description</span>
						<br />
						<textarea class="project-create-description"></textarea>																																																																															
					</div>
					<div class="right">
						<span>Due Date</span>
						<br />
						<input type="text" class="project-create-date" />
						<div class="content-spacer"></div>
						<span>Status</span>
						<br />
						<button class="button-status">
							<div class="status active"></div>
							<span>Active</span>
						</button>
						<button class="button-status">
							<div class="status urgent"></div>
							<span>Urgent</span>
						</button>
						<button class="button-status">
							<div class="status delay"></div>
							<span>Delay</span>
						</button>
						<button class="button-status">
							<div class="status done"></div>
							<span>Done</span>
						</button>
					</div>
					<div class="clear"></div>
					<button class="create-save">
						Save
					</button>
					<div class="clear"></div>
				</div>
			</div>
			<br />
			<div class="center-parent">
				<div class="list-header">
					<button class="right">
						Add Task
					</button>
					<span class="list-heading">Tasks for Project Name</span>
				</div>
				<div class="task-create-container center-child">
					<div class="status active"></div>
					<div class="task-create-heading">
						<span class="task-create-title">New Task</span>
						<span class="icon-delete"></span>
						<span class="icon-edit"></span>
					</div>
					<div class="padding">
						<div class="left">
							<span>Task Name</span>
							<br />
							<input type="text" class="task-create-name" />
							<div class="content-spacer"></div>
							<span>Task Description</span>
							<br />
							<textarea class="task-create-description"></textarea>									
						</div>
						
						
						<div class="right">
							<span>Due Date</span>
							<br />
							<input type="text" class="task-create-date" />
							<div class="content-spacer"></div>
							<span>Status</span>
							<br />
							<button class="button-status">
								<div class="status active"></div>
								<span>Active</span>
							</button>
							<button class="button-status">
								<div class="status urgent"></div>
								<span>Urgent</span>
							</button>
							<button class="button-status">
								<div class="status delay"></div>
								<span>Delay</span>
							</button>
							<button class="button-status">
								<div class="status done"></div>
								<span>Done</span>
							</button>
						</div>
						<div class="clear"></div>
						<button class="create-save">
							Save
						</button>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</script><!-- main app template close -->
	
	<script type="text/template" id="application-project">
			
	</script><!-- project template close -->
	
	<script type="text/template" id="application-task">
		<div class="content-spacer"></div>
		<div class="task-item">
			<!-- status done/active/urgent/delay-->
			<div class="status active"></div>
			<span class="task-name">Task Name</span>
			<span class="icon-delete"></span>
			<span class="icon-edit"></span>
		</div>
	</script><!-- task template close -->
	
</div>
