<div>
	
	<script type="text/template" id="landing-header">
		<div class="header-home">
			<div class="header-icon"></div>
		</div>
		<div class="header-login">
			<input type="text" id="header_username" placeholder="Username" />
			<input type="password" id="header_password" placeholder="Password" />
			<button id="header_login">
				Log In
			</button>
		</div>
	</script><!-- Close landing header -->
	
	<script type="text/template" id="landing-main">
		<div class="home-hero">
			<div class="content-spacer"></div>
			<img src="/img/hero-logo-2.png" />
			<p class="home-hero-title">
				Orderly manages your life when things get a little crazy.
			</p>
			<div class="home-hero-preview"></div>
		</div>

		<div class="status active"></div>

		<div class="center-parent">
			<span class="cta" >
				Sign Up Below - It's Free
			</span>
		</div>

		<div class="home-feature">
			<img src="/img/feature-1.png" />
			<p>
				Manage a visual representation of your projects and tasks.
			</p>
		</div>
		<div class="home-feature">
			<img src="/img/feature-2.png" />
			<p>
				Organize your projects by dragging and dropping them into place.
			</p>
		</div>
		<div class="home-feature">
			<img src="/img/feature-3.png" />
			<p>
				Keep track of what has been completed, and what still needs to be done.
			</p>
		</div>

		<div class="content-spacer"></div>
		
		<div class="home-signup-form">
			<p>
				Start Getting Organized
			</p>
			<div class="form">
				<div class="errors"></div>
				<div>
					<label for="home_firstName">First Name</label>
					<input id="home_firstName" type="text" placeholder="ex: John">
				</div>
				<div>
					<label for="home_lastName">Last Name</label>
					<input id="home_lastName" type="text" placeholder="ex: Doe">
				</div>
				<div>
					<label for="home_username">Username</label>
					<input id="home_username" type="text" placeholder="ex: johndoe1234">
				</div>
				<div>
					<label for="home_email">Email Address</label>
					<input id="home_email" type="email" placeholder="ex: jdoe@domain.com">
				</div>
				<div>
					<label for="home_pass">Password</label>
					<input id="home_pass" type="password" placeholder="Password should be 6 characters or longer">
				</div>
				<div>
					<label for="home_confirmPass">Confirm Password</label>
					<input id="home_confirmPass" type="password" placeholder="Password should be 6 characters or longer">
				</div>
				<div class="content-spacer"></div>
				<div>
					<button id="home_sign_up" class="button-submit home-sign-up">
						Sign Up
					</button>
				</div>
			</div>
		</div>
	</script><!-- Close landing main -->
	
</div>